---
import Datetime from "@/components/core/Datetime";

import Breadcrumbs from "@/components/docs/Breadcrumbs.astro";

import type { MainContentProps } from "@/lib/types";
import { capitalizeFirstLetter } from "@/lib/utils";

import { docconfig } from "config";

const {
  title,
  author,
  pubDatetime,
  modDatetime,
  description,
  draft,
  tags,
  hide_breadcrumbs,
  hide_toc,
  headings,
} = Astro.props as MainContentProps;
---

<div class="bg-background py-4 px-6 min-h-static_sidemenu">
  {!docconfig.hide_breadcrumbs && !hide_breadcrumbs && <Breadcrumbs class="" />}
  <h1 class="pb-2 italic">{capitalizeFirstLetter(title)}</h1>
  {
    !docconfig.hide_datetime && pubDatetime && (
      <Datetime
        hide_datetime={docconfig.hide_datetime}
        hide_time={docconfig.hide_time}
        pubDatetime={pubDatetime}
        modDatetime={modDatetime}
        className="my-2"
      />
    )
  }
  <div class="prose pt-4">
    <slot />
  </div>
</div>
