---
import { Button } from "@/components/ui/button";
import {capitalizeFirstLetter} from "@/lib/utils"
import type { SideNavMenuProps } from "@/lib/types";

const { items, level } = Astro.props as SideNavMenuProps;
const pathname = new URL(Astro.request.url).pathname;
---
<ul class={`list-none m-0`}>
  {
    items.map((item) => {
      const label = item.title ? capitalizeFirstLetter(item.title) : capitalizeFirstLetter(item.slug.split("/").pop() || "");
      const className = `
        ${level === 0 ? "font-bold" : ""}
        ${pathname === "" ? "bg-red-500" : ""}
        `.trim();
      return (
        <li>
            <a
                href={`/docs/${item.slug}`}
                class={`text-foreground  text-sm leading-none  `}
            >
                <Button
                variant="link"
                key={item.slug}
                className=`${className} muted`
                client:load
                >
                    {(label)}
                </Button>
            </a>
            {item.children.length > 0 && (
                <Astro.self items={item.children} level={level + 1} />
            )}
        </li>
      );
    })
  }
</ul>
