---
import HeadSEO from "@/components/core/HeadSEO.astro";
import Header from "@/components/core/Header.astro";
import Footer from "@/components/core/Footer.astro";

import SideNavMenu from "@/components/docs/SideNavMenu.astro";
import TableofContent from "@/components/docs/TableofContents.astro";
import MainContent from "@/components/docs/MainContent.astro";

import { ScrollArea } from "@/components/ui/scroll-area";

import type { DocsLayoutProps } from "@/lib/types";
import { menu, capitalizeFirstLetter } from "@/lib/utils";

import { LOCALE, SITE, docconfig } from "config";

const {
  title,
  author,
  pubDatetime,
  modDatetime,
  description,
  draft,
  tags,
  headings,
} = Astro.props as DocsLayoutProps;
---

<!doctype html>
<html lang=`${LOCALE.lang ?? "en"}`>
  <head>
    <HeadSEO
      title=`${title ? capitalizeFirstLetter(title) + " | " + SITE.title : SITE.title}`
      description={description}
    />
  </head>
  <body class="font-sans bg-card">
    <div class="flex flex-col min-h-screen">
      <Header class="border-b bg-background" />
      <main class="flex flex-1 flex-col md:flex-row container">
        <div
          class="px-6 py-4 hidden md:flex md:w-1/4 lg:w-1/5 max-h-static_sidemenu sticky top-[69px]"
        >
          <ScrollArea className="h-full w-full" client:only="react">
            {
              !docconfig.hide_side_navinations && (
                <SideNavMenu items={menu} level={0} />
              )
            }
          </ScrollArea>
        </div>
        <div class="w-full md:w-3/4 lg:w-3/5">
          <MainContent
            title={title}
            author={author}
            pubDatetime={pubDatetime}
            modDatetime={modDatetime}
            description={description}
            draft={draft}
            tags={tags}
            headings={headings}
          >
            <slot />
          </MainContent>
        </div>
        <div
          class="px-6 py-4 hidden lg:flex lg:w-1/5 max-h-static_sidemenu sticky top-[69px]"
        >
          <ScrollArea className="h-full w-full" client:only="react">
            {!docconfig.hide_table_of_contents && <TableofContent {headings} />}
          </ScrollArea>
        </div>
      </main>
      <Footer class="border-t border-border bg-background" />
    </div>
  </body>
</html>
