---
import HeadSEO from "@/components/core/HeadSEO.astro";
import Header from "@/components/core/Header.astro";
import Footer from "@/components/core/Footer.astro";

import Breadcrumbs from "@/components/docs/Breadcrumbs.astro";
import SideNavMenu from "@/components/docs/SideNavMenu.astro";
import TableofContent from "@/components/docs/TableofContents.astro";

import { ScrollArea } from "@/components/ui/scroll-area";

import { menu, capitalizeFirstLetter } from "@/lib/utils";
import { LOCALE, docconfig } from "config";
import MainContent from "@/components/docs/MainContent.astro";

interface Props {
  title: string;
  author: string;
  pubDatetime?: Date;
  description?: string;
  draft: boolean;
  tags: string[];
  ogImage?: URL | undefined;
  headings?: {
    depth: number;
    text: string;
    slug: string;
  }[];
}

const {
  title,
  author,
  pubDatetime,
  description,
  draft,
  tags,
  ogImage,
  headings,
} = Astro.props as Props;
---

<!doctype html>
<html lang=`${LOCALE.lang ?? "en"}`>
  <head>
    <HeadSEO
      title=`${title ? capitalizeFirstLetter(title) + " | Docs" : "Docs"}`
      description={description}
      ogImage={ogImage}
    />
  </head>
  <body class="bg-background text-foreground font-sans">
    <div class="flex flex-col min-h-screen">
      <Header class="border-b bg-background" />
      <main class="flex flex-1 flex-col md:flex-row container">
        <div
          class="px-6 py-4 hidden md:flex md:w-1/4 lg:w-1/5 max-h-static_sidemenu sticky top-[69px]"
        >
          <ScrollArea className="h-full w-full" client:only="react">
            {
              !docconfig.hide_side_navinations && (
                <SideNavMenu items={menu} level={0} />
              )
            }
          </ScrollArea>
        </div>
        <div class="px-6 py-4 w-full md:w-3/4 lg:w-3/5">
          <MainContent
            title={title}
            author={author}
            pubDatetime={pubDatetime}
            description={description}
            draft={draft}
            tags={tags}
            ogImage={ogImage}
            headings={headings}
          >
            <slot />
          </MainContent>
        </div>
        <div
          class="px-6 py-4 hidden lg:flex lg:w-1/5 max-h-static_sidemenu sticky top-[69px]"
        >
          <ScrollArea className="h-full w-full" client:only="react">
            {!docconfig.hide_table_of_contents && <TableofContent {headings} />}
          </ScrollArea>
        </div>
      </main>
      <Footer class="border-t border-border bg-background" />
    </div>
  </body>
</html>
